* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Tahoma, sans-serif;
	font-size: 16px;
}
.wrapper {
	max-width: 600px;
	margin: 0 auto;
}
table {
	border-collapse: collapse;
	margin: 10px;
}
th, tr {
	padding: 5px 10px;
	border-bottom: 1px solid grey;
	text-align: left;
}
tr:last-child {
	border-bottom: 0px;
}
.red-bold {
	color: red;
}
button {
	display: inline-block;
	font-weight: bold;
	border: none;
	margin: 1px;
}
.plus-minus {
	color: white;
	background: red;
	width: 40px;
	height: 40px;
	font-size: 22px;
}
.delete {
	color: white;
	background: #e48181;
	height: 40px;
	width: 80px;
}
.footer {
	float: right;
	margin: 1px 10px;
}
.footer-bold {
	font-weight: bold;
	margin-bottom: 4px;
}
.footer-light {
	color: #887070;
}
input {
	color: red;
	font-style: italic;
	border: none;
	background: none;
	font-size: 14px;
	display: block;
	margin: 80px auto;
	font-weight: bold;
}